.viewFour {
    background-image: url("../../img/Dark-Website-Background.jpg");
}

#resumeTitle {
    margin-top: 9vh;
    margin-bottom: 8vh;
    padding: 0;
    color: #f5f5f5;
}

h3#resumeTitle:hover {
    color: #d7a573;
}