.about-left {
    background-image: url("../../img/about-section-picture_02.png");
    background-attachment:inherit;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    filter: grayscale(45%);
}

.about-left:hover {
    filter: grayscale(0%);
  }

.about-photo {
    width: 65vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#aboutTitle {
    padding-top: 25px;
    padding-bottom: 0px;
}

.bioText {
    margin-top: 20px;
    padding-bottom: 30px;
}

.bio {
    text-align: center;
    padding: 8px;
    width: 80%;
    margin: auto;
}

.skillHeader {
    font-weight: bold;
    margin-top: 12px;
}

.skillList {
    margin: 0 auto;
    padding: 0;
}

.skill {
    list-style-type: none;
    font-weight: bold;
}